@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
    font-size: 16px;
}